.idea
.vscode
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
*.lib
*.a
*.gch
*.pch
*.d
*.stackdump
# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/ 
# Xcode
*.xcworkspace
*.xcodeproj
*.xcuserdata/
# Windows 编译相关
Debug/
Release/